.el-table th >.cell
  color #34495e
  font-size 20px
  font-weight bold
  text-align center
.el-table__row td.nowrap .cell button
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
.el-table .cell
  text-align center
  font-size 18px
  color #34495e
  .table-btn
    width 100%
    height 100%
    font-size 18px
    color inherit
.el-icon-edit
  padding 5px
  cursor pointer
.myButton
  margin-right 100px